#login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
}
#login-form input {
    /* margin-top: 10px; */
    width: 30%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 70px;
    border: none;
    border-bottom: 2px solid rgba(183, 183, 183, 0.8);
    color: white;
    /* caret-color: transparent; */
}

#login-form input:focus {
    outline: none;
    border-color: white;
    border-width: 3px;
    transition: border-color 0.5s ease-in-out;
}

.greeting {
    font-size: 50px;
}
