@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import "reset.css";

@import "login-form.css";
@import "weather.css";
@import "todo.css";

* {
    box-sizing: border-box;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
body {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.main {
    padding: 20px 30px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
}
i {
    pointer-events: none;
}

#clock {
    font-size: 140px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow: 1px 0 50px black;
}
#greeting {
    font-size: 70px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 0 50px black;
}
.bottom-bar {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

#quote {
    font-size: 23px;
    text-shadow: 2px 2px 2px black;
}
